.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent {
  color: var(--logo-color);
}
.footer__section .accent {
  color: var(--primary-white-color);
}
